<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ShangHaiMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.po.ShangHai">
    </resultMap>

    <select id="getValues" resultType="com.example.demo.po.ShangHai">
        select * from shcpe_market_overview
    </select>

    <insert id="addValues" parameterType="com.example.demo.po.ShangHai">
        insert into shcpe_market_overview
        (
            id,
            sts_date,
            ecds_mem_num,
            trx_mem_num,
            day_accept_num,
            day_accept_amount,
            day_discount_num,
            day_discount_amount,
            day_trade_num,
            day_trade_amount,
            year_accept_num,
            year_accept_amount,
            year_discount_num,
            year_discount_amount,
            year_trade_num,
            year_trade_amount
        )
        values
        (
            #{id},
            #{sts_date},
            #{ecds_mem_num},
            #{trx_mem_num},
            #{day_accept_num},
            #{day_accept_amount},
            #{day_discount_num},
            #{day_discount_amount},
            #{day_trade_num},
            #{day_trade_amount},
            #{year_accept_num},
            #{year_accept_amount},
            #{year_discount_num},
            #{year_discount_amount},
            #{year_trade_num},
            #{year_trade_amount}
        )
    </insert>

</mapper>